@import ../../styles
mat-toolbar
  div
    margin: auto
    text-align: center
    line-height: 0%
    padding-left: 3vh
    sub
      font-size: 8px
      color: $text-color-secondary

mat-drawer-container
  float: left
  height: $main-height
  mat-drawer
    // width: 10vw
    min-width: 200px
    text-align: center
    button
      width: 150px
