<!-- <p-toolbar>
  <div class="p-toolbar-group-left">
      <p-button label="New" icon="pi pi-plus"></p-button>
      <p-button label="Upload" icon="pi pi-upload" styleClass="p-button-success"></p-button>

      <i class="pi pi-bars"></i>

      </div>

      <div>
        <h2>{{getTitle()}}</h2>
        <p>{{getTitleSubText()}}</p>
      </div>

  <div class="p-toolbar-group-right">
      <p-button icon="pi pi-search"></p-button>
      <p-button icon="pi pi-calendar" styleClass="p-button-success"></p-button>
      <p-button icon="pi pi-times" styleClass="p-button-danger"></p-button>
  </div>
</p-toolbar> -->
<mat-toolbar>
  <button mat-icon-button disabled color="accent" aria-label="Example icon button with a menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <div>
    <sub>Welcome to</sub>
    <h2>{{getTitleSubText()}}🍔</h2>
    <sub class="text-color-secondary">hosted on {{getTitle()}}</sub>
  </div>
  <button mat-raised-button disabled>Login</button>
</mat-toolbar>
