<mat-toolbar>
  <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
    <mat-icon (click)="drawer.toggle()">menu</mat-icon>
  </button>
  <div>
    <sub>Welcome to</sub>
    <h2>{{getTitleSubText()}}🍔</h2>
    <sub class="text-color-secondary">hosted on {{getTitle()}}</sub>
  </div>
  <button mat-raised-button disabled>Login</button>
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer #drawer mode="side">
    <h1>Secret Menu</h1>
    <button mat-stroked-button>
      <table>
        <tr>
          <td>
            <mat-icon>home</mat-icon>
          </td>
          <td>
            Homepage
          </td>
        </tr>
      </table>
    </button><br/>
    <button mat-stroked-button>
      <table>
        <tr>
          <td>
            <mat-icon>add_to_photos</mat-icon>
          </td>
          <td>
            Submit video
          </td>
        </tr>
      </table>
    </button><br/>
    <button mat-stroked-button>
      <table>
        <tr>
          <td>
            <mat-icon>Feedback</mat-icon>
          </td>
          <td>
            feedback
          </td>
        </tr>
      </table>
    </button><br/>
  </mat-drawer>
</mat-drawer-container>
