@import ../../styles
mat-toolbar
  div
    margin: auto
    text-align: center
    line-height: 0%
    padding-left: 3vh
    sub
      font-size: 8px
      color: $text-color-secondary

mat-drawer-container
  height: $main-height
  background-color: #00000000 !important
  mat-drawer
    min-width: 200px
    text-align: center
    button
      width: 160px
      table tr td
        color: $text-color-primary
