<mat-accordion>
  <mat-expansion-panel  (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Acknowledgements, Attribution and more
      </mat-panel-title>
      <mat-panel-description>

      </mat-panel-description>
    </mat-expansion-panel-header>
    This website is open sourced check <a href="https://github.com/taghead/taghead.xyz">GitHub</a><br/>
    <a href="https://www.freepik.com/vectors/background"> Background created by Vectorium - www.freepik.com</a>
    <a href="https://www.freepik.com/free-vector/collection-handrawn-elements-fast-food_10264678.htm#page=1&query=burger%20background&position=2"><mat-icon>image</mat-icon></a>

  </mat-expansion-panel>
</mat-accordion>
