<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <div class="borgor-video">
      <header>
        <h1>Burger Time?</h1>
        <iframe src="https://www.youtube-nocookie.com/embed/j8H4pm9Q-Rw?autoplay=1&t=4&loop=1&modestbranding=1&showinfo=0&rel=0&cc_load_policy=1&iv_load_policy=3&fs=0"
          width="620"
          height="360"
          frameborder="0"
          allowfullscreen>
        </iframe>
      </header>
      <footer>
        <a href="https://www.youtube.com/watch?v=qlCGh33eIFQ">Consume</a>
      </footer>
    </div>
  </mat-grid-tile>
</mat-grid-list>
