@import ../../styles

.borgor-video-container
  text-align: center
  h1
    font-size: 1.5vmax
    color: $text-color-secondary

#borgor-video
  height: auto
  width: auto
#btn-consume
  height: max-content
  width: same-as-height
  font-size: 1em
