@import ../../styles

.borgor-video-container
  text-align: center
  h1
    color: $text-color-secondary
  div
    color: $text-color-primary

#borgor-video
  width: 45vw
  height: 45vh
#btn-consume
  height: 85px
  width: 85px
  font-size: 16px
