<div>
  <form [formGroup]="authForm">

    <mat-form-field appearance="fill">
      <mat-label for="email">
        <span>*</span>
        Email:
      </mat-label>
      <input matInput id="email" type="email" name="email" formControlName="email" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label for="password">
        <span>*</span>
        Password:
      </mat-label>
      <input matInput id="password" type="password" name="password" formControlName="password" required />
    </mat-form-field>

    <div *ngIf="helperText?.text && helperText?.error">
      {{ helperText?.text }}
    </div>
    <div *ngIf="helperText?.text && !helperText?.error">
      {{ helperText?.text }}
    </div>
    <div>
      <span>
        <button mat-raised-button type="button" (click)="handleLogin('REGISTER')">
          Sign Up
        </button>
      </span>
      <span>
        <button mat-raised-button (click)="forgotPassword()" type="button">
          Forgot Password
        </button>
      </span>
      <span>
        <button mat-raised-button (click)="handleLogin('LOGIN')" type="button">
          Sign In
        </button>
      </span>
    </div>
  </form>
</div>
