<form>
  <div class="button-close-dialog">
    <button mat-icon-button mat-dialog-close aria-label="Example icon button with a vertical three dot icon">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <br/><br/>

  <mat-form-field appearance="fill">
    <mat-label>Enter your email</mat-label>
    <input matInput placeholder="pat@example.com" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <br/>
  <mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field><br/>
  <button id="btn-sign-in" mat-raised-button>Sign Up</button>
  <button id="btn-sign-up" mat-raised-button>Sign In</button>
</form>
